<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="X_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <X_Manager.Properties.Settings>
            <setting name="CONV_PRESSURE_UNIT" serializeAs="String">
                <value>millibars</value>
            </setting>
            <setting name="CONV_PRESSURE_OFFSET" serializeAs="String">
                <value>1016</value>
            </setting>
            <setting name="CONV_DATE_FORMAT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CONV_TIME_FORMAT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CONV_FILL_EMPTY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CONV_SAME_COLUMN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CONV_TIME_OVERRIDE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CONV_TIME" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="CONV_METADATA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CONV_LEAP_SECONDS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CONV_NON_GPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CONV_PROXIMITY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PATH_BACKGROUND_IMAGE" serializeAs="String">
                <value/>
            </setting>
            <setting name="PATH_SCHEDULE" serializeAs="String">
                <value/>
            </setting>
            <setting name="PATH_DATA_SAVE" serializeAs="String">
                <value/>
            </setting>
            <setting name="PATH_CONVERT" serializeAs="String">
                <value/>
            </setting>
            <setting name="CONV_PRESSURE_RANGE" serializeAs="String">
                <value>depth</value>
            </setting>
            <setting name="INI_KEEP_MDP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="INI_DOWNLOAD_SPEED" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CONV_CSV_SEPARATOR" serializeAs="String">
                <value/>
            </setting>
            <setting name="INI_DOWNLOAD_MODE" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="UI_GIPSY6_CONFIGURATION_EXPERT_MODE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PATH_GIPSY6_FIRMWARE_FILE" serializeAs="String">
                <value/>
            </setting>
            <setting name="INI_GIPSY6_BOOTLOADER_WIPE_DATA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="INI_GIPSY6_BOOTLOADER_WIPE_SETTINGS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CONV_SPLIT_KML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CONV_SPLIT_KML_EVERY" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UI_DEFAULT_BATTERY_UNIT" serializeAs="String">
                <value>percentage</value>
            </setting>
        </X_Manager.Properties.Settings>
    </userSettings>
</configuration>
